*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Helvetica,sans-serif;
  font-size: 16px;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cuba{
  position: absolute;
  top: 35%;
  width: 527px;
  height: 227px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Georgia;
  font-size: 200px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.explore-the-world{
  position: absolute;
  bottom: 29px;
  width: 406px;
  height: 27px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.clear{
  position: absolute;
  bottom: 1%;
  width: 470px;
  height: 500px;
  visibility: hidden;
}
.path-1{
  position: absolute;
  top: 40px;
  width: 1360px;
  height: 620px;
  border: solid 2px #ecb84c;
}
.path-1:after{
  position: absolute;
  bottom: -3%;
  width: 470px;
  height: 500px;
  visibility: hidden;
  content: "";
}
.bg-photo{
  width: 1440px;
  height: 700px;
  overflow: hidden;
  object-fit: contain;
}
#menu{
  display: flex;
  justify-content: center;
  width: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
#menu ul li a{
  display: block;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #909090;
  text-decoration: none;
  text-align: center;
  padding: 16px;
}
#menu ul li a:hover{
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e5665;
  border-bottom: solid 4px #ecb84c;
}
.introduction-cuba{
  border-top :solid 1px #e7e9eb;
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-border-top{
  border-top:none;
}
h2{
  margin: 80px 0px 40px 0px ;
  width: 460px;
  height: 38px;
  font-family: Georgia;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #4e5665;
}
.content{
  width: 970px;
  height: 84px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
}
.read-more{
  text-decoration: none;
  width: 95px;
  height: 28px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ecb84c;
}
#container-icon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-icon li{
  margin: 64px;
}
#container-icon li p:nth-child(2){
  font-family: AvenirNext;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #4e5665;
  text-align: center;
}
#container-icon li p:nth-child(3){
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #909090;
  text-align: center;
}
.line{
  width: 1170px;
  height: 1px;
  border-top: solid 1px #e7e9eb;
}
.container-img{
  margin-top: 65px;
  position: relative;
  width: 970px;
  margin-bottom: 500px
}
.photo-5{
  position: absolute;
  right:0;
  z-index: 1;
}
.para{
  position: absolute;
  z-index: 2;
  width: 470px;
  height: 289px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  right: 500px;
  top: 70px;
}
.para h4 {
  z-index: 2;
  text-align: start;
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: #4e5665;
  margin: 40px 0px 16px 40px;
}
.para p{
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
  margin: 0px 40px 40px;
}
.corner1{
  position: absolute;
  top: 19px;
  left: 19px;
  width: 33px;
  height: 33px;
  border-top: solid 2px #ecb84c;
  border-left: solid 2px #ecb84c;
}
.corner2{
  position: absolute;
  bottom: 19px;
  right: 19px;
  width: 33px;
  height: 33px;
  border-bottom: solid 2px #ecb84c;
  border-right: solid 2px #ecb84c;
}
.photo-4{
  position: absolute;
  left:0;
  z-index: 1;
}
.v2{
  left: 500px;
}
.x{
  right: 19px;
  left: auto;
  border-top: solid 2px #ecb84c;
  border-right: solid 2px #ecb84c;
  border-left: none;
}
.y{
  left: 19px;
  right: auto;
  border-bottom: solid 2px #ecb84c;
  border-left: solid 2px #ecb84c;
  border-top: none; 
  border-right: none;
}
.cadillacs{
  position: relative;
  width: 970px;
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cadillacs h6{
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ecb84c;  
  margin-bottom: 80px;
}
.cadillacs h2{
  margin-bottom: 15px;
}
.oval{
  width: 1170px;
  height: 7px;
  opacity: 0.5;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-color: #212020;
  margin-bottom: 50px;
}
.icon{
  width: 12px;
  height: 12px;
  background-color: #f6cd35;
  border-radius: 6px;
  border: double 1px #f6cd35;
}
.mg-top{
  margin-top:80px;
}
.cuba-photo{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo-2{
  position: absolute;
  left: -235px;
  top: 500px;
}
.dim{
  position: absolute;
  right: -235px;
  top: 500px;
}
.photo-3{
  position: absolute;
  left: -50px;
  top: 425px;
}
.right{
  right: -50px;
  left: auto;
}
.photo-front{
  position: absolute;
  top: 400px;
  left: 150px;
}
#footer{
  border-top :solid 1px #e7e9eb;
  margin-top: 200px;
  width: 1440px;
  height: 300px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
}
#footer .t-agency{
  width: 350px;
  height: 414px;
  font-family: AvenirNext;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #37c491;
  text-align: center;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer h5{
  margin-bottom: 30px;
}
.rectangle{
  text-align: center;
  width: 140px;
  height: 32px;
  border-radius: 2px;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #d9dde1;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
}
.rectangle .united-states{
  margin-right :5px;
  width: 20px;
  height: 12px;
}
.rectangle p {
  width: 89px;
  height: 19px;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #505050;
}
.rectangle .path-496{
  width: 8px;
  height: 4px;
  border: solid 2px #505050;
  margin-right: 0px; 
}
.infor{
  min-width: 200px;
  width: auto;
  height: 300px;
}
.infor h3{
  font-family: AvenirNext;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4e5665;
  margin-top: 75px;
  margin-bottom: 30px;
}
.infor ul li{
  display: block;
  float: none;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #505050;
  margin-bottom: 10px;
}
.infor ul li img{
  margin-right: 10px;
}
.last{
  width: 490px;
}
.bottom{
  width: 100%;
  text-align: center;
  height: 19px;
  bottom: 0px;
  background-color: #f8f8f8;
}
.bottom p{
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #505050;
}